.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: #007bff; 
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: opacity 0.3s, background-color 200ms ease-in-out;
  position: absolute;
  z-index: 1;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  background-color: #007bff; 
}

.tooltip-text--top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text--bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text--left {
  top: 50%;
  right: 125%;
  transform: translateY(-50%);
}

.tooltip-text--right {
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
}