.accordion {
  max-width: 600px; 
  margin: 0 auto;    
  min-width: 600px; 
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  cursor: pointer;
  user-select: none;
}

.accordion-title {
  font-size: 24px;  
  margin: 0;       
}

.accordion-icon {
  font-size: 24px; 
}

.accordion-content {
  padding: 10px 0;
}